/* Your code here */
img[alt="Franny"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="PeterDayz"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Chuy"]{
    width: 150px;
    place-self: center;
}
img[alt="Gooner"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Tank"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Minerals"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Roach"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="nateDog"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
.gamers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 180px);
    justify-items: center;
    align-items: center;
  }
h1{
    font-family: 'Luckiest Guy', 'VT323', monospace;
    text-align: left;
    font-size: xx-large;
    color: aliceblue;
    border: dashed white 4px;
    background-color: black;
    margin-left: 20px;
    padding-left: 8rem;

  }
.gamers img{
  border-radius: 50%;
  }
.gamers img:hover{
    border: 3px black dotted;
  }
.gamers p{
    border-radius: 10%;
    background-color: aquamarine;
    padding: 10px;
    align-items: center;
    margin-right: 20px;
}
#topNav{
    background-color: black;
    align-items: center;
}