/* Your code here */
img[alt="nateDog"]{

}
img[alt="Franny"]{
    width: 150px;
    height: 150px;
}
img[alt="Gooner"]{

}
img[alt="Tank"]{

}
img[alt="Minerals"]{

}
img[alt="PeterDayz"]{
    width: 150px;
    height: 150px;
}
img[alt="Roach"]{

}
