/* Your code here */
img[alt="Franny"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="PeterDayz"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Chuy"]{
    width: 150px;
    place-self: center;
}
img[alt="Gooner"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Tank"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Minerals"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="Roach"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
img[alt="nateDog"]{
    width: 150px;
    height: 150px;
    place-self: center;
}
.gamers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 180px);

    justify-items: center;
    align-items: center;
  }
  h1{
      font-family: 'VT323', monospace;
      text-align: center;
      font-size: xx-large;
      color: green;
      border: dashed black 4px;
      margin-left: 100px;
      padding-left: 100px;
  }
  .gamers img{
      border-radius: 50%;
  }
  .gamers img:hover{
      border: 3px black dotted;
  }
  body{
      
  }
  .gamers p{
      border-radius: 10%;
      background-color: aquamarine;
      padding: 10px;
  }